mixin organizer(org)
	.organizer
		.organizer__header
			.img-wrapper
				img(src=org.image, alt='HS Hackers organizer - ' + org.name, width=40, height=40).img-circle
			h4.organizer__name=org.name
			p.organizer__twitter: a(href='https://twitter.com/' + org.twitter, target='_blank') @#{org.twitter}
		p.mv-0=org.title