#app-alert(class=(system.mobile && system.ios ? "hidden" : null )).hidden-md.hidden-lg
	a(href='javascript:;').dismiss-alert.dismiss-alert-md.visible-md.visible-lg: span &times;
	.container: .row
		.col-sm-6.app-icon.col-xs-8
			a(href='javascript:;').dismiss-alert.dismiss-alert-xs.visible-xs.visible-sm: span &times;
			img(src='/images/app-icon.png', alt='app icon', title='app icon', width='64').visible-md.visible-lg
			img(src='/images/app-icon-android.png', alt='app icon', title='app icon', width='64').visible-xs.visible-sm
			.visible-md.visible-lg
				h5 Introducing the HS Hackers app.
				p.mb-0 Grab the free app and never miss a meetup again!
			.visible-xs.visible-sm
				h5 HS Hackers App
				p.mb-0 Victor Lourng
		.col-sm-6.col-xs-4
			a(href="https://play.google.com/store/apps/details?id=org.hshackers&hl=en", target="_blank").app-button.visible-md.visible-lg
				img(src='/images/google-play-button.png', alt='Get it on Google Play', title='get it on Google Play', height='45')
			a(href="https://itunes.apple.com/us/app/hshackers/id1337?mt=8&uo=4", target="itunes_store").app-button.hidden-xs.hidden-sm
				img(src='/images/app-store-button.png', alt='Download on the App Store', title='download on the appstore', height='45')
			a(href="https://play.google.com/store/apps/details?id=org.hshackers&hl=en", target="_blank").app-link.visible-xs.visible-sm.text-right Install
