extends ../../layouts/default

include ../../mixins/organizer

block intro
	.page-intro: .container
		h1 About
		p We build, create, and innovate.
		.buttons
			if !user
				a(href='/join').btn.btn-primary Join HS Hackers
			a(href="https://twitter.com/hshackersphilly", class="twitter-follow-button", data-show-count="true" data-size="large") Follow @hshackersphilly

block content
	.container
		.alert This page is under construction.
		h2 Organizers
		p.lead Each month the HS Hackers team works to bring together great geniuses in a great venue.
		p The Philadelphia meetup group is run by Victor Lourng.
		hr.line-thick

		h2 Press Contact
		p hello at victorlourng dot com
		//- .row.about-organizers
			each org in organizers
				.col-25
					//- +organizer(org)
			
		
		//- CODE
		hr.line-thick
		a(name='code')
		h2 Code of Conduct

		p.lead Hackers are a heterogeneous group of people. Our diversity in gender, sexual orientation, physical or mental ability, age, socioeconomic status, ethnicity, physical appearance, race, religion, and so on, fuels our creativity and enables us to approach solving problems from a variety of angles. In that spirit, HS Hackers and the meetup organizers who compose its advisory board have come up with this simple Code of Conduct that will hold ourselves and the people who attend our events accountable to.

		p While you’re at an event, do your best to respect the diversity of our community and be mindful of the fact that certain content and actions can make the people around you uncomfortable. If your project contains material that might cross that boundary, you should tell one of the event organizers about it before your present your project.

		p If you see anything that makes you uncomfortable or that you believe is making other attendees uncomfortable, you should disclose that to the event organizers in a responsible manner. The event organizers will do their best to evaluate the situation and determine what the appropriate response (if any) should be.

		p Ultimately, the event organizers reserve the right to determine what content and actions are appropriate for their meetups and which projects are allowed to be presented there.


		p.muted Adopted from Major League Hacking. 
		br

block js
	// twitter
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
