extends ../../layouts/default

include ../../mixins/organizer

block intro
	.page-intro: .container
		h1 About
		p HS Hackers is about making things awesome.
		.buttons
			if !user
				a(href='/join').btn.btn-primary Join HS Hackers
			a(href="https://twitter.com/hshackersphilly", class="twitter-follow-button", data-show-count="true" data-size="large") Follow @hshackersphilly

block content
	.container
		.alert This page is under construction.
		h2 Organizers
		p.lead Each month the HS Hackers team works to bring together great geniuses in a great venue.
		p The Philadelphia meetup group is run by Victor Lourng.
		//- .row.about-organizers
			each org in organizers
				.col-25
					//- +organizer(org)
			
		
		//- CODE
		a(name='code')
		h2 Code of Conduct
		a.btn.btn-primary.btn-lg.btn-block(href='http://mlh.io/about/code-of-conduct.html') Read MLH's Code of Conduct
		br

block js
	// twitter
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
