extends ../../layouts/session

block content
	//- .row: .col-md-6.col-md-offset-3
	h1 Signed out
	p.lead Your session has been destroyed in the database and your login cookie is no longer valid. See you soon...
	p: a(href='/signin').btn.btn-primary.btn-block
		i.icon-happy(style='vertical-align:text-bottom')  
		| Wait, I want to sign in again!
	p: a(href='/').btn.btn-default.btn-block
		i.icon-hotdog(style='vertical-align:text-bottom')  
		| Meh, take me home. I'm hungry.